@use "sass:meta";
@use "variables.scss";


:root {
  /*
  --bcgov-wc-color-brand-primary: #{variables.$bcgov-blue-primary};
  --bcgov-wc-color-brand-secondary: #{variables.$bcgov-yellow-primary};
  --bcgov-wc-color-border: #{variables.$bcgov-yellow-primary};
  --bcgov-wc-color-text: #{variables.$bcgov-color};
  --bcgov-wc-color-link: #{variables.$bcgov-blue-links};
  --bcgov-wc-color-link-hover: #{variables.$bcgov-blue-links-hover};
  --bcgov-wc-color-background-primary: #{variables.$bcgov-blue-background};
  --bcgov-wc-color-background-seconary: #{variables.$bcgov-color-background};
  --bcgov-wc-color-components: #{variables.$bcgov-color-components};
  --bcgov-wc-color-accessibility: #{variables.$bcgov-color-accessibility};
  --bcgov-wc-color-breadcrumb: #{variables.$bcgov-color-breadcrumb};
  --bcgov-wc-color-breadcrumb-link: #{variables.$bcgov-blue-links};
  --bcgov-wc-color-breadcrumb-link-hover: #{variables.$bcgov-blue-links-hover};
*/
  --bcgov-wc-color-white: #{variables.$bcgov-white};
  --bcgov-wc-color-error: #{variables.$bcgov-red-primary};
  --bcgov-wc-color-success: #{variables.$bcgov-green-primary};
  --bcgov-wc-font-family: #{variables.$bcgov-font-family};
  --bcgov-wc-gutter: #{variables.$gutter-primary};

  --button-hamburger-background: #{variables.$bcgov-blue-primary};
  --button-hamburger-background-hover: #{variables.$bcgov-blue-primary};

  /** Desktop menu **/
  --menu-background: #{variables.$bcgov-color-menu};
  --menu-background-active: #{variables.$bcgov-color-menu-active};
  --menu-color: #{variables.$bcgov-white};
  --menu-color-hover: #{variables.$bcgov-white};
  --menu-color-active: #{variables.$bcgov-white};
  --menu-border-color: #{variables.$bcgov-color-menu-border};

  /** Desktop submenu */
  --menu-submenu-background: #{variables.$bcgov-color-submenu};
  --menu-submenu-background-active: #{variables.$bcgov-color-menu-active};
  --menu-submenu-color: #{variables.$bcgov-white};
  --menu-submenu-color-hover: #{variables.$bcgov-white};
  --menu-submenu-color-active: #{variables.$bcgov-white};
  --menu-submenu-border-color: #{variables.$bcgov-color-menu-border};

  /** Mobile  Menu**/
  --menu-mobile-border-color: #{variables.$bcgov-color-menu-border};

  --menu-mobile-background: #{variables.$bcgov-color-menu};
  --menu-mobile-background-active: #{variables.$bcgov-color-menu-active};
  --menu-mobile-color: #{variables.$bcgov-white};
  --menu-mobile-color-hover: #{variables.$bcgov-white};
  --menu-mobile-color-active: #{variables.$bcgov-white};

  /** Mobile submenu */
  --menu-mobile-submenu-background: #{variables.$bcgov-color-submenu};
  --menu-mobile-submenu-background-active: #{variables.$bcgov-color-menu-active};
  --menu-mobile-submenu-color: #{variables.$bcgov-white};
  --menu-mobile-submenu-color-hover: #{variables.$bcgov-white};
  --menu-mobile-submenu-color-active: #{variables.$bcgov-white};
}

@include meta.load-css("components/components.scss");
