:root {
  --bcgov-color: #{$bcgov-color};
  --bcgov-color-background: #{$bcgov-color-background};
  --bcgov-color-components: #{$bcgov-color-components};
  --bcgov-color-accessibility: #{$bcgov-color-accessibility};
  --bcgov-white: #{$bcgov-white};
  --bcgov-blue-primary: #{$bcgov-blue-primary};
  --bcgov-blue-links: #{$bcgov-blue-links};
  --bcgov-blue-background: #{$bcgov-blue-background};
  --bcgov-yellow-primary: #{$bcgov-yellow-primary};
  --bcgov-red-primary: #{$bcgov-red-primary};
  --bcgov-green-primary: #{$bcgov-green-primary};
  --bcgov-font-family: #{$bcgov-font-family};
}
