$hydrate_transition_speed: 0.01s;
$hydrate_transition_property: opacity;
$hydrate_transition_timing: ease-in;
/** padding */
$gutter-primary: 10%;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

$padding-x: 15px;
$padding-y: 15px;

$font-size: 16px;
$h1-font-size: 2.074rem;
$h2-font-size: 1.728rem;
$h3-font-size: 1.44rem;
$h4-font-size: 1.2rem;

/** Colours **/
$bcgov-color: #313132;
$bcgov-color-background: #f1f1f1;
$bcgov-color-components: #606060;
$bcgov-color-accessibility: #3b99fc;
$bcgov-color-menu: #38598a;
$bcgov-color-submenu: #2b4777;
$bcgov-color-menu-border: #5f79a2;
$bcgov-color-menu-active: #5f79a2;
$bcgov-color-breadcrumb: transparent;
$bcgov-white: #fff;
$bcgov-blue-primary: #036;
$bcgov-blue-background: #38598a;
$bcgov-blue-links: #1a5a96;
$bcgov-blue-links-hover: #00f;

$bcgov-yellow-primary: #fcba19;
$bcgov-red-primary: #d8292f;
$bcgov-green-primary: #2e8540;
$bcgov-font-family: "BCSans", Calibri, Arial, "sans serif";
