bcgov-button {
  a,
  button {
    display: inline-block;
    background-color: $bcgov-blue-primary;
    border: 2px solid $bcgov-blue-primary;
    margin: 4px 4px 4px 0;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1.2;
    cursor: pointer;

    &,
    &:visited,
    &:active,
    &:focus {
      color: $bcgov-white;
    }

    &.primary {
      color: $bcgov-white !important;
    }

    &.secondary {
      background: none;
      color: $bcgov-blue-primary !important;
    }
    &.dark {
      background: none;
      border: 2px solid $bcgov-white;
      &:hover {
        background-color: $bcgov-color-background;
        color: $bcgov-color;
      }
    }

    &:hover {
      text-decoration: underline;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }
}
