bcgov-breadcrumb,
.bcgov-breadcrumb {
  opacity: 0;
  visibility: hidden;
  &.hydrated {
    opacity: 1;
    visibility: visible;
    @include transition(
      $hydrate_transition_property,
      $hydrate_transition_speed,
      $hydrate_transition_timing
    );
  }
  @include flexbox;
  padding: 1rem 0;
  @include justify-content(space-between);
  @include align-items(center);

  ol {
    list-style: none;
    @include flexbox();
    @include align-items(center);
    margin: 0;
    padding: 0;
    font-size: 0.95rem;

    li {
      display: inline;
      padding: 0;
      margin: 0;
      &:after {
        content: ">";
        padding: 0 6px;
      }
      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    opacity: 1;
    visibility: visible;
  }
}
