bcgov-menu {
  opacity: 0;
  visibility: hidden;
  &.hydrated {
    opacity: 1;
    visibility: visible;
    @include transition(
      $hydrate_transition_property,
      $hydrate_transition_speed,
      $hydrate_transition_timing
    );
  }
  padding: 0;
  position: relative;
  display: block;
  ul {
    list-style: none;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  a {
    position: relative;
    padding: math.div($padding-x,2) $padding-y math.div($padding-x,2) $padding-y;
    display: block;

    &:before {
      content: " ";
      position: absolute;
      height: 100%;
      border-left: 1px solid var(--menu-mobile-border-color);
      right: $padding-x * 3;
      top: 0;
    }
  }
  /** Arrow for nav in primary and non primary **/
  bcgov-menu {
    > div {
      span {
        cursor: pointer;
        &:after {
          content: " ";
          position: absolute;
          cursor: pointer;
          display: block;
          width: 8px;
          height: 8px;
          top: 12px;
          right: $padding-x * 1.25;
          border-bottom-style: solid;
          border-bottom-width: 2px;
          border-right-style: solid;
          border-right-width: 2px;
          transform: rotateZ(45deg);
          box-sizing: unset;
        }
      }
    }
    &.expandable {
      &.expanded {
        > div {
          span {
            &:after {
              top: 18px;
              transform: rotateZ(225deg);
            }
          }
        }
      }
    }
  }
  &[primary],
  &.primary {
    /** Setup the defaults for all menu / submenu **/
    z-index: 99999;
    color: var(--menu-mobile-color);
    max-width: 500px;
    width: 100%;
    right: 0;
    position: absolute;
    a {
      &,
      &:hover,
      &:visited,
      &:active,
      &:focus {
        color: var(--menu-mobile-color);
        border-bottom: 1px solid var(--menu-mobile-border-color);
        text-decoration: none;
      }
      &:hover {
        text-decoration: underline;
        color: var(--menu-mobile-color-hover);
        background-color: var(--menu-mobile-background-active);
      }
    }

    ul {
      li {
        &.bcgov-primary-menu-close {
          a {
            opacity: 0.6;
            span {
              border: 2px solid var(--menu-mobile-color);
              border-radius: 16px;
              padding: 0.3px 9px 1px;
              line-height: 1;
            }
            &:before {
              content: "";
              position: relative;
              border: none;
            }
            &:hover {
              opacity: 1;
              background-color: inherit;
            }
          }
        }
      }
      bcgov-menu {
        ul {
          z-index: 999999;
          background-color: var(--menu-mobile-submenu-background);
        }
        > div {
          span {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 45px;
            &:after {
              border-bottom-color: var(--menu-mobile-color);
              border-right-color: var(--menu-mobile-color);
            }
          }
        }
        &,
        li {
          ul {
            display: none;
            background-color: var(--menu-mobile-submenu-background);
          }
          a {
            &,
            &:hover,
            &:visited,
            &:focus,
            &:active {
              color: var(--menu-mobile-submenu-color);
            }
            &:hover {
              color: var(--menu-mobile-submenu-color-hover);
              background-color: var(--menu-mobile-submenu-background-active);
            }
          }
        }
        &.expandable {
          display: list-item;
          &.expanded {
            ul {
              display: block;
              li:hover {
                background-color: var(--menu-mobile-background-active);
              }
            }
            > div {
              span {
                &:after {
                  top: 18px;
                  transform: rotateZ(225deg);
                }
              }
            }
          }
        }
      }
      > li.active,
      bcgov-menu.active div {
        > a {
          background-color: var(--menu-mobile-background-active);
          color: var(--menu-mobile-color-active);
        }
      }
      bcgov-menu ul > li.active {
        > a {
          background-color: var(--menu-mobile-submenu-background-active);
          color: var(--menu-mobile-submenu-color-active);
        }
      }
    }
  }

  /** hide target **/
  &.target-hidden {
    display: none;
  }

  /** Desktop mode **/
  &.is-desktop {
    display: block;
    position: relative;
    max-width: 100%;
    ul {
      @include flexbox();
      @include flex-wrap(wrap);
      @include align-items(center);
      position: relative;
      &.align-right {
        margin-right: -$padding-x;
        @include justify-content(flex-end);
      }
      &.align-left {
        @include justify-content(flex-start);
        margin-left: -$padding-x;
      }
      &.align-center {
        @include justify-content(center);
      }
    }
    a {
      border: 1px solid transparent;
      padding: math.div($padding-x,2) $padding-y * 1.25;
      margin: 0;
      &:before {
        content: "";
        position: relative;
        border: none;
      }
    }
    &[primary],
    &.primary {
      a {
        &,
        &:hover,
        &:active,
        &:focus,
        &:visited {
          color: var(--menu-color);
        }
        &:hover {
          color: var(--menu-color-hover);
          background-color: var(--menu-background-active);
          border-color: var(--menu-border-color);
        }
      }

      ul {
        li {
          &.bcgov-primary-menu-close {
            display: none;
          }
        }
        bcgov-menu {
          > div {
            span {
              &:after {
                border-bottom: 2px solid var(--menu-color);
                border-right: 2px solid var(--menu-color);
              }
            }

            a {
              padding-right: $padding-y * 2.5;
            }
          }

          li {
            > div {
              border: none;
            }

            a {
              &,
              &:hover,
              &:active,
              &:focus,
              &:visited {
                color: var(--menu-submenu-color);
              }
              &:hover {
                color: var(--menu-submenu-color-hover);
                background-color: var(--menu-submenu-background-active);
              }
            }
          }

          ul {
            display: none;
            flex-direction: column;
            position: absolute;
            width: 230px;
            height: auto;
            background-color: var(--menu-submenu-background);
            li {
              border-top: 1px solid var(--menu-submenu-border-color);
              border-left: 1px solid var(--menu-submenu-border-color);
              border-right: 1px solid var(--menu-submenu-border-color);
              &:last-child {
                border-bottom: 1px solid var(--menu-submenu-border-color);
              }
            }
          }
          &.expandable {
            &.expanded {
              ul {
                li:hover {
                  background-color: var(--menu-background-active);
                }
              }
              > div {
                span {
                  &:after {
                    top: 18px;
                    transform: rotateZ(225deg);
                  }
                }
              }
            }
          }
        }
        > li.active,
        bcgov-menu.active div {
          > a {
            background-color: var(--menu-background-active);
            color: var(--menu-color-active);
            border: 1px solid var(--menu-border-color);
          }
        }
        bcgov-menu ul > li.active {
          > a {
            background-color: var(--menu-submenu-background-active);
            color: var(--menu-submenu-color-active);
          }
        }
      }
    }
  }
  &[sidebar] {
    &.is-desktop {
      ul {
        display: block;
        li a {
          padding: 0.1rem !important;
        }
      }
    }
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    opacity: 1;
    visibility: visible;
  }
}
html[data-useragent*="MSIE 10.0"] {
}
