bcgov-footer,
.bcgov-footer {
  opacity: 0;
  visibility: hidden;
  &.hydrated {
    opacity: 1;
    visibility: visible;
    @include transition(
      $hydrate_transition_property,
      $hydrate_transition_speed,
      $hydrate_transition_timing
    );
  }

  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include flex-grow(1);
  @include align-items(center);
  min-height: 50px;

  .footer-logo {
    max-width: 175px;
    width: 100%;
    padding: 8px 0;
  }

  img {
    height: auto;
    min-width: 175px;
    max-width: 300px;
    width: 100%;
    padding: 0 1rem;
  }

  &.align-left {
    bcgov-menu {
      &.is-desktop {
        ul {
          justify-content: flex-start !important;
        }
      }
    }
    > *:not(bcgov-menu) {
      justify-self: end;
    }
  }

  &.align-right {
    bcgov-menu {
      &.is-desktop {
        ul {
          justify-content: flex-end !important;
        }
      }
    }
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    opacity: 1;
    visibility: visible;
  }
}
