bcgov-search,
.bcgov-search {
  opacity: 0;
  visibility: hidden;
  &.hydrated {
    opacity: 1;
    visibility: visible;
    @include transition(
      $hydrate_transition_property,
      $hydrate_transition_speed,
      $hydrate_transition_timing
    );
  }
  display: block;
  border-width: 1px;
  border-style: solid;
  position: absolute;
  width: 100%;
  z-index: 9999;
  .search-container {
    -webkit-transition: height 200ms ease-in;
    -moz-transition: height 200ms ease-in;
    -ms-transition: height 200ms ease-in;
    -o-transition: height 200ms ease-in;
    transition: height 200ms ease-in;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    form {
      @include flexbox();
      @include flex-direction(column);
      @include align-content(center);
      @include justify-content(flex-end);
      @include flex-wrap(wrap);
      margin: 0 !important;
      bcgov-button {
        button {
          padding: 0.5rem !important;
          margin: 0;
        }
      }
    }
  }

  &.is-search-desktop {
    .search-container {
      form {
        @include flex-direction(row);
        > input,
        select,
        input:not([type="submit"]) {
          @include flex(2 1);
          width: 100%;
          &[type="search"] {
            border: none !important;
          }
        }
        bcgov-button,
        .bcgov-button {
          display: block;

          &[button-style="search-inline"] {
            .bcgov-button-text {
              display: none;
            }
          }
        }
      }
    }
  }
  &.target-hidden {
    display: none;
    .search-container {
      height: 0;
      visibility: hidden;
    }
  }
  @media (min-width: 986px) {
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    opacity: 1;
    visibility: visible;
  }
}
