bcgov-footer {
  background-color: var(--bcgov-blue-primary);
  border-top: 2px solid var(--bcgov-yellow-primary);
  color: var(--bcgov-white);
  min-height: 50px;
  padding: 0 15px;
  @include flexbox();

  a {
    &,
    &:visited,
    &:active,
    &:focus {
      color: var(--bcgov-white) !important;
    }
  }
  a {
    color: #fff;
  }
}
