@use "../mixins/general";
@use "../variables";

bcgov-beta,
.bcgov-beta {
  opacity: 0;
  visibility: hidden;
  &.hydrated {
    opacity: 1;
    visibility: visible;
    @include general.transition(
      variables.$hydrate_transition_property,
      variables.$hydrate_transition_speed,
      variables.$hydrate_transition_timing
    );
  }
  color: var(--bcgov-wc-color-brand-secondary);
  position: relative;
  top: -5px;
  text-transform: uppercase;
  font-weight: 200;
  margin-left: 8px;
  font-size: 0.95rem;
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    opacity: 1;
    visibility: visible;
  }
}
