bcgov-footer,
.bcgov-footer {
  opacity: 0;
  visibility: hidden;
  &.hydrated {
    opacity: 1;
    visibility: visible;
    @include transition(
      $hydrate_transition_property,
      $hydrate_transition_speed,
      $hydrate_transition_timing
    );
  }
  background-color: var(--bcgov-wc-color-brand-primary);
  border-top: 2px solid var(--bcgov-wc-color-brand-secondary);
  color: var(--bcgov-wc-color-white);
  min-height: 50px;
  padding: 0.25rem var(--bcgov-wc-gutter);

  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include flex-grow(1);
  @include align-items(center);

  .footer-logo {
    max-width: 175px;
    width: 100%;
    padding: 8px 0;
  }

  img {
    height: auto;
    min-width: 175px;
    max-width: 300px;
    width: 100%;
    padding: 0 1rem;
  }

  &.align-left {
    bcgov-menu {
      &.is-desktop {
        ul {
          justify-content: flex-start !important;
        }
      }
    }
    > *:not(bcgov-menu) {
      justify-self: end;
    }
  }

  &.align-right {
    bcgov-menu {
      &.is-desktop {
        ul {
          justify-content: flex-end !important;
        }
      }
    }
  }

  a {
    &,
    &:visited,
    &:active,
    &:focus {
      color: var(--bcgov-wc-color-white) !important;
    }
  }
  a {
    color: var(--bcgov-wc-color-white);
  }
}
