@use "../mixins/flex";
@use "../mixins/general";
@use "../variables";

bcgov-breadcrumb,
.bcgov-breadcrumb {
  opacity: 0;
  visibility: hidden;
  &.hydrated {
    opacity: 1;
    visibility: visible;
    @include general.transition(
      variables.$hydrate_transition_property,
      variables.$hydrate_transition_speed,
      variables.$hydrate_transition_timing
    );
  }
  @include flex.flexbox;
  @include flex.justify-content(space-between);
  @include flex.align-items(center);

  ol {
    list-style: none;
    @include flex.flexbox();
    @include flex.align-items(center);
    margin: 0;
    padding: 0;
    font-size: 0.95rem;

    li {
      display: inline;
      padding: 0;
      margin: 0;
      &:after {
        content: ">";
        padding: 0 6px;
      }
      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    opacity: 1;
    visibility: visible;
  }
}
