bcgov-menu {
  padding: 0;
  color: var(--bcgov-wc-color-white);
  position: relative;
  display: block;
  &[primary],
  &.primary {
    background-color: var(--bcgov-wc-color-menu);
  }

  a {
    &,
    &:hover,
    &:visited,
    &:active,
    &:focus {
      color: var(--bcgov-wc-color-white) !important;
      padding: $padding-x/2 $padding-y $padding-x/2 $padding-y;

      display: block;
      border: 1px solid var(--bcgov-wc-color-menu-border);
      text-decoration: none;
      &:before {
        content: " ";
        position: absolute;
        height: 100%;
        border-left: 1px solid var(--bcgov-wc-color-menu-border);
        right: $padding-x * 3;
        top: 0;
      }
    }
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;

    bcgov-menu {
      z-index: 1000;
      ul {
        background-color: var(--bcgov-wc-color-submenu);
      }

      > div {
        border: 1px solid var(--bcgov-wc-color-menu-border);
        a {
          margin-right: $padding-y * 3;
        }

        &:after {
          content: " ";
          position: absolute;
          display: block;
          width: 8px;
          height: 8px;
          top: 14px;
          right: $padding-x * 1.25;
          border-bottom: 2px solid var(--bcgov-wc-color-white);
          border-right: 2px solid var(--bcgov-wc-color-white);
          transform: rotateZ(45deg);
        }
      }
      &.expandable {
        display: list-item;
      }
      &.expanded {
        > a {
          &:after {
            transform: rotateZ(225deg);
          }
        }
      }
    }
    li,
    bcgov-menu {
      ul {
        display: none;
      }
      &.expanded {
        ul {
          display: block;
          li:hover {
            background-color: var(--bcgov-wc-color-links);
          }
        }
      }
    }
  }
  &.target-hidden {
    display: none;
  }
  &.is-desktop {
    display: block;
    &[primary],
    &.primary {
      padding: 0 var(--bcgov-wc-gutter);
    }

    a {
      border: none;
      padding: $padding-x/2 $padding-y * 1.25;
      margin: 0;
      &:before {
        content: "";
        position: relative;
        border: none;
      }
      &:after {
        right: 0;
        top: 12px;
        transform: rotateZ(45deg) !important;
      }
    }
    bcgov-menu {
      > div {
        border: none;
        &:after {
          right: 0;
          transform: rotateZ(45deg);
        }
      }
    }

    ul {
      @include flexbox();
      @include flex-wrap(wrap);
      align-items: center;
      &.align-right {
        justify-content: flex-end;
        > li:last-child {
          a {
            padding-right: 0;
          }
        }
      }
      &.align-left {
        justify-content: flex-start;
        > li:first-child {
          a {
            padding-left: 0;
          }
        }
      }
      &.align-center {
        justify-content: center;
      }
      ul {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 230px;
        height: auto;
      }
    }
  }
}
html[data-useragent*="MSIE 10.0"] {
  bcgov-menu {
    display: block;
  }
}
