@use "../mixins/flex";
@use "../mixins/general";
@use "../variables";

.bcgov-header {
  opacity: 0;
  visibility: hidden;
  &.hydrated {
    opacity: 1;
    visibility: visible;
    @include general.transition(
      variables.$hydrate_transition_property,
      variables.$hydrate_transition_speed,
      variables.$hydrate_transition_timing
    );
  }
  position: relative;
  display: block;

  z-index: 11000;
  header {
    @include flex.flexbox();
    @include flex.flex-wrap(wrap);
    @include flex.justify-content(normal);
    @include flex.flex-grow(1);
    @include flex.align-items(center);

    .banner {
      padding: 6px 0;
      a {
        padding: 0;
        @include flex.flexbox();
      }
      img {
        width: 100%;
      }
    }
    .heading,
    .headline,
    .hl {
      padding: 0 1rem;
    }
  }

  .access {
    position: relative;
    height: 100%;
    width: 0;
    font-size: 0.8rem;
    a {
      width: 0;
      position: absolute;
      display: block;
      padding: 5px;
      opacity: 0;
      top: 2px;
      z-index: -1;
      &:focus {
        opacity: 1;
        background-color: #fff;
        text-align: center;
        width: 150px;
        height: 50px;
        color: inherit;
        z-index: 1;
      }
    }
  }
  @media screen and (min-width: 762px) {
    @include flex.flexbox();
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    opacity: 1;
    visibility: visible;
  }
}
