bcgov-header,
.bcgov-header {
  opacity: 0;
  visibility: hidden;
  &.hydrated {
    opacity: 1;
    visibility: visible;
    @include transition(
      $hydrate_transition_property,
      $hydrate_transition_speed,
      $hydrate_transition_timing
    );
  }
  position: relative;
  display: block;

  padding: 0 var(--bcgov-wc-gutter);
  z-index: 99999;
  header {
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(normal);
    @include flex-grow(1);
    @include align-items(center);

    .banner {
      padding: 4px 0;
      margin-left: -1rem;
      a {
        padding: 0;
      }
      img {
        height: auto;
        min-width: 175px;
        max-width: 300px;
        width: 100%;
      }
    }
    .heading,
    .headline,
    .hl {
      padding: 0 1rem;
      font-size: 1.5rem;
    }
  }

  .access {
    display: block;
    position: absolute;
    height: 40px;
    width: 150px;
    left: 5px;
    top: 5px;
    font-size: 0.8rem;

    a {
      max-width: 150px;
      position: absolute;
      display: block;
      padding: 5px;
      opacity: 0;
      &:focus {
        opacity: 1;
      }
    }
  }
  @media screen and (min-width: 762px) {
    @include flexbox();
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    opacity: 1;
    visibility: visible;
  }
}
