bcgov-button,
.bcgov-button {
  opacity: 0;
  visibility: hidden;
  &.hydrated {
    opacity: 1;
    visibility: visible;
    @include transition(
      $hydrate_transition_property,
      $hydrate_transition_speed,
      $hydrate_transition_timing
    );
  }
  display: inline-block;
  overflow: hidden;

  a,
  button {
    margin: 4px 4px 4px 0;
    height: 100%;
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    line-height: 1.2;
    cursor: pointer;
    display: inline-block;

    &.hamburger,
    &.search {
      margin: 0;
      padding: 0.5rem;
      border-width: 1px;
      border-style: solid;
      border-radius: 0;
    }

    &.hamburger {
      &:hover {
        cursor: pointer;
      }
      div {
        margin: 0 2px;
        border-top-width: 2px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        min-width: 30px;
        &:before {
          content: " ";
          border-top-style: solid;
          border-top-width: 2px;
          margin: 6px 0;
          display: block;
        }
      }
    }

    &.search {
      font-size: 1.5rem;
    }
    &.search-inline {
      background-color: transparent;
      color: var(--bcgov-wc-color-text);
      border-width: 1px;
      padding: 3px 18px;
      .bcgov-button-text {
        margin-left: 0.5rem;
      }
    }
    &:hover {
      text-decoration: underline;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }
  &.is-desktop {
    button {
      &.hamburger {
        display: none;
      }
    }
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    opacity: 1;
    visibility: visible;
  }
}
