bcgov-search,
.bcgov-search {
  opacity: 0;
  visibility: hidden;
  &.hydrated {
    opacity: 1;
    visibility: visible;
    @include transition(
      $hydrate_transition_property,
      $hydrate_transition_speed,
      $hydrate_transition_timing
    );
    display: block;
    background-color: var(--bcgov-wc-color-white);
    border: 1px solid var(--bcgov-wc-color-background-seconary);
    border-bottom-color: var(--bcgov-wc-color-brand-secondary);
    position: absolute;
    width: 100%;
    z-index: 999;
    .search-container {
      -webkit-transition: height 200ms ease-in;
      -moz-transition: height 200ms ease-in;
      -ms-transition: height 200ms ease-in;
      -o-transition: height 200ms ease-in;
      transition: height 200ms ease-in;
      form {
        @include justify-content(center);
        @include align-content(center);
        @include flex-direction(column);
        bcgov-button {
          top: 0;
          right: 0;
          button {
            padding: 0.5rem !important;
            margin: 0;
          }
        }
        > * {
          flex: 1 1;
          margin: 0 0.1rem 0.5rem;
        }
        select {
          font-size: 1.2rem;
          width: 100%;
        }
        input {
          &[type="text"],
          &[type="search"] {
            font-size: 1.5rem;
            border: none;
          }
          &[type="search"] {
            flex: 2 1;
          }
        }
      }
    }

    &.is-search-desktop {
      bcgov-button,
      .bcgov-button {
        flex: 0.2;
        &[button-style="search-inline"] {
          text-align: right;
          .bcgov-button-text {
            display: none;
          }
        }
      }

      .search-container {
        form {
          @include flex-direction(row);
          > * {
            margin-bottom: 0;
          }
        }
      }
    }
    &.target-hidden {
      display: none;
      .search-container {
        height: 0;
        visibility: hidden;
      }
    }
  }
}
