bcgov-beta,
.bcgov-beta {
  color: var(--bcgov-wc-color-brand-secondary);
  position: relative;
  top: -5px;
  text-transform: uppercase;
  font-weight: 200;
  margin-left: 8px;
  font-size: 0.95rem;
}
