@use 'sass:math';
@import "../mixins";
@import "bcgov-button";
@import "bcgov-header";
@import "bcgov-footer";
@import "bcgov-beta";
@import "bcgov-menu";
@import "bcgov-callout";
@import "bcgov-search";
@import "./forms/bcgov-form";
@import "bcgov-breadcrumb";

*:focus {
  outline-width: 2px;
  outline-style: solid;
  outline-offset: 1px;
  z-index: 9999;
}
.sr-only {
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-indent: -10000px;
}
