@import "../mixins";
@import "bcgov-button";
@import "bcgov-header";
@import "bcgov-footer";
@import "bcgov-beta";
@import "bcgov-menu";
@import "bcgov-callout";
@import "bcgov-search";
@import "bcgov-form";
@import "bcgov-breadcrumb";
*:focus {
  outline: 3px solid var(--bcgov-wc-color-accessibility);
  outline-offset: 1px;
  z-index: 9999;
}
.sr-only {
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-indent: -10000px;
}
