form:not(.no-styles) {
  margin: 0.5rem 0;
  position: relative;
  /** focus **/
  input:not([type="submit"]),
  textarea,
  select,
  .uneditable-input {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 10px 8px;
    font-family: inherit;
    width: 100%;
    &:focus {
      outline-width: 2px;
      box-shadow: none;
      outline-offset: 2px;
    }
  }

  input[disabled],
  select[disabled],
  textarea[disabled],
  input[readonly],
  select[readonly],
  textarea[readonly] {
    cursor: not-allowed;
    background-color: $bcgov-form-component-disabled;
  }

  @import "radio";
  @import "select";
  @import "input";
  @import "checkbox";
  @import "textarea";
}
