bcgov-form,
.bcgov-form,
form:not(.no-styling):not(.no-styles) {
  ul {
    list-style: none;
    margin: 0 0 1rem;
  }
  margin: 0.5rem 0;
  position: relative;

  label {
    font-weight: bold;
  }
  /** focus **/
  textarea:focus,
  select:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  button:focus,
  .btn:focus,
  a:focus,
  .uneditable-input:focus {
    outline: 4px solid var(--bcgov-wc-color-accessibility) !important;
    box-shadow: none;
    outline-offset: 2px;
  }

  input[disabled],
  select[disabled],
  textarea[disabled],
  input[readonly],
  select[readonly],
  textarea[readonly] {
    cursor: not-allowed;
    background-color: $bcgov-form-component-disabled;
  }

  input,
  input:not([type="submit"]),
  textarea,
  select {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 10px 8px;
    font-family: inherit;
    width: 100%;
  }
  @import "radio";
  @import "select";
  @import "input";
  @import "checkbox";
  @import "textarea";
}
