<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <meta name="author" content="<%= htmlWebpackPlugin.options.author %>" />
  </head>

  <body is="bcgov-styles" class="<%= htmlWebpackPlugin.options.bodyClass %>">
    <%= require('html-loader!./partials/header.html') %>
    <main class="bcgov-main" id="main-content">
      <div class="section-content">
        <%= htmlWebpackPlugin.options.bodyHtml %>
      </div>
      <div class="section-sidebar">
        <%= htmlWebpackPlugin.options.sidebar %>
      </div>
    </main>
    <%= require('html-loader!./partials/footer.html') %>
  </body>
</html>
