<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <meta name="author" content="<%= htmlWebpackPlugin.options.author %>" />
  </head>

  <body
    is="bcgov-styles"
    class="<%= htmlWebpackPlugin.options.bodyClass %> is-floating"
  >
    <%= require('html-loader!./partials/header.html') %>
    <bcgov-menu
      id="main-navigation"
      instructions="Use arrow keys to navigate between menuitems, spacebar to expand submenus, escape key to close
  submenus, enter to activate menuitems."
      primary
      alignment="left"
      breakpoint="1100"
      class=""
    >
      <a href="index.html">Home</a>
      <bcgov-menu href="header.html" name="Standard Components">
        <a href="header.html">Header</a>
        <a href="menu.html">Menus</a>
        <a href="button.html">Buttons</a>
        <a href="footer.html">Footer</a>
        <a href="beta.html">Beta</a>
        <a href="callout.html">Callout</a>
        <a href="breadcrumb.html">Breadcrumbs</a>
        <a href="search.html">Search</a>
        <a href="carousel.html">Carousel</a>

        <a href="form.html">Forms</a>
      </bcgov-menu>
    </bcgov-menu>

    <main class="bcgov-main" id="main-content">
      <div class="section-content">
        <% if (htmlWebpackPlugin.options.status === 'draft') { %>
        <img
          src="https://img.shields.io/badge/Recommended-Draft-orange.svg"
          alt="Draft Status"
        />
        <% } %> <% if (htmlWebpackPlugin.options.status === 'production') { %>
        <img
          src="https://img.shields.io/badge/-Production-green.svg"
          alt="Production Status"
        />
        <% } %> <%=htmlWebpackPlugin.options.bodyHtml %>
      </div>
    </main>
    <%= require('html-loader!./partials/footer.html') %>
  </body>
</html>
