:host {
  a,
  button {
    display: inline-block;
    background-color: var(--bcgov-blue-primary);
    border: 2px solid var(--bcgov-blue-primary);
    margin: 4px 4px 4px 0;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1.2;
    cursor: pointer;

    &,
    &:visited,
    &:active,
    &:focus {
      color: var(--bcgov-white);
    }

    &.primary {
      color: var(--bcgov-white) !important;
    }

    &.secondary {
      background: none;
      color: var(--bcgov-blue-primary) !important;
    }
    &.dark {
      background: none;
      border: 2px solid var(--bcgov-white);
      &:hover {
        background-color: var(--bcgov-color-background);
        color: var(--bcgov-color);
      }
    }

    &:hover {
      text-decoration: underline;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }
}
