<bcgov-header logo>
  <img src="/assets/gov_bc_logo.svg" alt="Branding logo" />
  <div class="headline">BCGov Web Components<bcgov-beta></bcgov-beta></div>
  <div aria>
    <a href="#main-navigation">Skip to navigation</a>
    <a href="#main-content">Skip to Contents</a>
    <a href="accessibility">Skip to Accessibility Statement</a>
  </div>

  <bcgov-button button-style="hamburger" data-target="main-navigation"
    >Menu</bcgov-button
  >
  <bcgov-button button-style="search" data-target="search-navigation"
    >Search</bcgov-button
  >
</bcgov-header>
