<bcgov-header logo>
  <img
    src="https://www2.gov.bc.ca/assets/download/6124280C12B44DA492667E23E8BC38BF"
    alt="Branding logo"
  />
  <div class="headline">BCGov Web Components<bcgov-beta></bcgov-beta></div>
  <div aria>
    <a href="#main-navigation">Skip to navigation</a>
    <a href="#main-content">Skip to Contents</a>
    <a href="accessibility">Skip to Accessibility Statement</a>
  </div>

  <bcgov-button button-style="hamburger" target="main-navigation"
    >Menu</bcgov-button
  >
</bcgov-header>

<bcgov-menu
  id="main-navigation"
  instructions="Use arrow keys to navigate between menuitems, spacebar to expand submenus, escape key to close
  submenus, enter to activate menuitems."
  primary
  alignment="left"
  breakpoint="1100"
>
  <a href="index.html">Home</a>
  <bcgov-menu active href="#" name="Standard Components">
    <a href="header.html">Header</a>
    <a href="menu.html">Menus</a>
    <a active href="button.html">Buttons</a>
    <a href="footer.html">Footer</a>
    <a href="beta.html">Beta</a>
    <a href="callout.html">Callout</a>
    <a href="breadcrumb.html">Breadcrumbs</a>
    <a href="search.html">Search</a>
    <a href="carousel.html">Carousel</a>
    <a href="form.html">Forms</a>
  </bcgov-menu>
  <a href="index.html">Another Home Link</a>
</bcgov-menu>
