<bcgov-header>
  <img
    src="https://www2.gov.bc.ca/assets/download/6124280C12B44DA492667E23E8BC38BF"
    alt="Branding logo"
  />
  <div>DevHub<bcgov-beta></bcgov-beta></div>
  <a aria href="#main-navigation">Skip to navigation</a>
  <a aria href="#main-content">Skip to Contents</a>
  <a aria href="accessibility">Skip to Accessibility Statement</a>
</bcgov-header>

<bcgov-menu
  id="main-navigation"
  instructions="Use arrow keys to navigate between menuitems, spacebar to expand submenus, escape key to close
  submenus, enter to activate menuitems."
  primary
>
  <a href="index.html">Home</a>
  <bcgov-menu href="#" name="Standard Components">
    <a href="header.html">Header</a>
    <a href="menu.html">Menus</a>
    <a href="button.html">Buttons</a>
    <a href="footer.html">Footer</a>
    <a href="beta.html">Beta</a>
    <a href="callout.html">Callout</a>
    <a href="forms.html">Forms</a>
  </bcgov-menu>
  <!--
  <bcgov-menu href="#" name="Helper Components">
    <a href="tab.html">Tabs</a>
    <a href="collapse.html">Collapse</a>
  </bcgov-menu>
  <a href="developer.html">Developer</a>
  -->
</bcgov-menu>
