$bcgov-blue-primary: #036;
$bcgov-blue-secondary: #1a5a96;
$bcgov-blue-third: #496ea7;
$bcgov-orange-primary: #fcba19;
$bcgov-orange-secondary: #f4bb2d;
$bcgov-white: #fff;
$bcgov-black: #0a0a0a;
$bcgov-text-primary: #313132;
$bcgov-text-secondary: #585858;
$bcgov-text-third: #70777c;
$bcgov-text-fourth: #9a9a9a;

$bcgov-blue-links: #1a5a96;
$bcgov-yellow-primary: #fcba19;
$bcgov-blue-background: #38598a;
$bcgov-color-background: #f2f2f2;

$gutter-primary: 10%;
