@import "../../global/variables.scss";
@media all and (-ms-high-contrast: none) {
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  bcgov-callout {
    padding: 30px;
    background-color: $bcgov-color-background;
    border-left: 10px solid $bcgov-blue-background;
    display: block;
  }

  bcgov-footer {
    background-color: $bcgov-blue-background;
  }
  bcgov-beta {
    color: $bcgov-yellow-primary;
  }
}
