body {
  color: $bcgov-color;
  background-color: $bcgov-color-background;
  font-size: 18px;
  margin: 0;
  font-family: $bcgov-font-family;

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 16px;
  }
}

table {
  td,
  th {
    padding: 8px 15px;
    border-bottom: 1px solid #ccc;
    font-size: 0.9rem;
  }
  margin: 15px 0;
  display: block;
  overflow: scroll;
}

.bcgov-main {
  display: grid;
  margin: 0 $gutter-primary;
  padding: 30px;
  min-height: 600px;
  background: $bcgov-white;

  a {
    &.active,
    &:active,
    &:visited,
    &:focus {
      color: $bcgov-blue-links;
    }
    &:hover {
      color: $bcgov-blue-links;
      text-decoration: underline;
    }
    i {
      color: $bcgov-blue-links;
    }
  }

  p {
    line-height: 1.6;
    margin-bottom: 30px;
  }
}

.has-sidebar {
  @media only screen and (min-width: 978px) {
    .bcgov-main {
      grid-column-gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      .section-content {
        grid-row: 1;
        grid-column: 4 / 12;
      }
      .section-sidebar {
        grid-row: 1;
        grid-column: 1 / 4;
      }
    }
  }
}
