html {
  font-size: $font-size;
  line-height: 1.6;
}

body {
  color: $bcgov-color;
  background-color: $bcgov-color-background;
  margin: 0;
  font-family: $bcgov-font-family;
  background-color: rgb(192, 190, 190);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 2rem 0 0.5rem;
  font-weight: bold;
}

h1,
.h1 {
  margin-top: 0;
  font-size: $h1-font-size;
}
h2,
.h2 {
  font-size: $h2-font-size;
}

h3,
.h3 {
  font-size: $h3-font-size;
}

h4,
.h4 {
  font-size: $h4-font-size;
}

p {
  margin: 0 0 2rem;
}

table {
  td,
  th {
    padding: 8px 15px;
    border-bottom: 1px solid #ccc;
    font-size: 0.9rem;
  }
  margin: 15px 0;
  display: block;
  overflow: scroll;
}

.bcgov-main {
  display: grid;
  margin: 0 $gutter-primary;
  padding: 30px;
  min-height: 600px;
  background: $bcgov-white;

  a {
    &.active,
    &:active,
    &:visited,
    &:focus {
      color: $bcgov-blue-links;
      text-decoration: underline;
    }
    &:hover {
      color: $bcgov-blue-links;
      text-decoration: none;
    }
    i {
      color: $bcgov-blue-links;
    }
  }
}

bcgov-header .banner img {
  height: 100%;
  width: 175px;
}

.has-sidebar {
  @media only screen and (min-width: 978px) {
    .bcgov-main {
      grid-column-gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      .section-content {
        grid-row: 1;
        grid-column: 4 / 12;
      }
      .section-sidebar {
        grid-row: 1;
        grid-column: 1 / 4;
      }
    }
  }
}

.header-button-container {
  margin-top: 10px;
  a {
    font-size: 0.8rem !important;
  }
}

.colour-wrapper {
  margin: 0;
  padding: 0;
  @include flexbox();
  list-style: none;
  .colour-card {
    flex: 1;
    border: 1px solid var(--bcgov-wc-color-components);
    margin: 0 2rem 2rem 0;
    max-width: 250px;
  }
  .colour-display {
    height: 75px;
    padding: 8px;
  }
  .colour-text {
    padding: 8px;
    border-top: 1px solid var(--bcgov-wc-color-components);
  }
}

.code {
  display: none;
  &.loaded {
    display: block;
  }
}

@media only screen and (min-width: 978px) {
  bcgov-footer,
  .bcgov-footer {
    flex-direction: row;
  }
}
