@import "../components/sass/variables";
/** Gutter mixins **/
@mixin gutter($gutter) {
  bcgov-header,
  bcgov-breadcrumb,
  bcgov-footer,
  bcgov-menu.is-desktop[primary] {
    padding-right: $gutter;
    padding-left: $gutter;
  }
  .bcgov-main {
    margin: 0 $gutter;
  }
}

body {
  color: $bcgov-color;
  background-color: $bcgov-color-background;
  .bcgov-main {
    background: $bcgov-color-background;
  }
}

a {
  &,
  &.active,
  &:active,
  &:visited,
  &:focus {
    color: $bcgov-blue-links;
    text-decoration: underline;
  }
  &:hover {
    color: $bcgov-blue-links-hover;
    text-decoration: none;
  }
  i {
    color: $bcgov-blue-links;
  }
}

bcgov-header,
.bcgov-header {
  background-color: $bcgov-blue-primary;
  border-bottom: 2px solid $bcgov-yellow-primary;
  header {
    .banner {
      img {
        max-width: 175px;
      }
    }
  }
  .headline,
  a {
    color: $bcgov-white;
  }
}

form {
  input,
  input:not([type="submit"]),
  textarea,
  select {
    border-color: $bcgov-color-components;
  }
  input {
    &[type="submit"] {
      color: $bcgov-white;
      background-color: $bcgov-blue-primary;
      border-color: $bcgov-blue-primary;
    }
    &[type="radio"] {
      border-color: $bcgov-color-components;
      &:checked {
        background-color: $bcgov-color-components;
      }
    }
    &[type="checkbox"] {
      border-color: $bcgov-color-components;
      &:checked {
        background-color: $bcgov-color-components;
      }
    }
  }
}

bcgov-menu {
  &[primary],
  .primary {
    background-color: $bcgov-color-menu;
    &.is-desktop {
      background-color: $bcgov-color-menu;
    }
  }
}

bcgov-search,
.bcgov-search {
  border-color: $bcgov-color-background;
  form {
    input,
    input:not([type="search"]),
    select {
      border-color: $bcgov-color-background;
    }
  }
}

bcgov-button,
.bcgov-button {
  a,
  button {
    &.primary {
      background-color: $bcgov-blue-primary;
      color: $bcgov-white;

      &:hover {
        background-color: $bcgov-blue-primary-hover;
      }
      &:active,
      &.active {
        background-color: $bcgov-blue-primary-active;
      }
      &:disabled,
      &.disabled {
        background-color: $bcgov-blue-primary-disabled;
      }
    }

    &.secondary {
      background: none;
      border: 2px solid $bcgov-blue-primary;
      color: $bcgov-blue-primary;

      &:active,
      &.active {
        color: $bcgov-white;
        background-color: $bcgov-blue-primary-active;
        border-color: $bcgov-blue-primary-active;
      }
      &:hover {
        color: $bcgov-white;
        background-color: $bcgov-blue-primary-hover;
        border-color: $bcgov-blue-primary-hover;
      }
      &:disabled,
      &.disabled {
        color: $bcgov-blue-primary-disabled !important;
        border-color: $bcgov-blue-primary-disabled !important;
        background-color: transparent;
      }
    }
    &.dark {
      background: none;
      color: $bcgov-white;
      border: 2px solid $bcgov-white;
      &:active,
      &.active {
        color: $bcgov-white;
        background-color: $bcgov-button-dark-active;
        border-color: $bcgov-button-dark-active;
      }
      &:hover {
        background-color: $bcgov-color-background;
        color: $bcgov-color;
      }
      &:disabled,
      &.disabled {
        color: $bcgov-button-dark-disabled !important;
        border-color: $bcgov-button-dark-disabled !important;
        background-color: transparent;
      }
    }

    &.hamburger {
      font-size: 0.8rem;
      border-color: transparent;
      background-color: $bcgov-blue-primary;
      color: $bcgov-white;
      div {
        border-color: $bcgov-white;
        &:before {
          border-color: $bcgov-white;
        }
      }
      .bcgov-button-text {
        display: none;
      }
      &:hover {
        background-color: $bcgov-blue-primary-hover;
      }
    }
    &.search {
      color: $bcgov-white;
      border-color: transparent;
      background-color: transparent;
      .bcgov-button-text {
        display: none;
      }
    }
  }
}
bcgov-breadcrumb {
  padding: 1rem 0;
}

bcgov-footer,
.bcgov-footer {
  background-color: $bcgov-blue-primary;
  border-top: 2px solid $bcgov-yellow-primary;
  color: $bcgov-white;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  a {
    &,
    &:visited,
    &:active,
    &:focus {
      color: $bcgov-white;
    }
  }
}

@include gutter(1%);
@media (min-width: 987px) {
  @include gutter(10%);
}
