@import "../components/sass/mixins";
@import "../components/sass/variables";
html {
  font-size: $font-size;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 2rem 0 0.5rem;
  font-weight: bold;
}

h1,
.h1 {
  margin-top: 0;
  font-size: $h1-font-size;
}
h2,
.h2 {
  font-size: $h2-font-size;
}

h3,
.h3 {
  font-size: $h3-font-size;
}

h4,
.h4 {
  font-size: $h4-font-size;
}

p {
  margin: 0 0 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 200;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}
body {
  margin: 0;
  text-align: left;
  font-family: var(--bcgov-wc-font-family);
}

*:focus {
  outline-color: $bcgov-color-accessibility;
}
