@mixin user-select($user) {
  -webkit-user-select: $user;
  -moz-user-select: $user;
  -ms-user-select: $user;
  user-select: $user;
}

@mixin appearance($type) {
  -webkit-appearance: $type;
  -moz-appearance: $type;
  appearance: $type;
}

@mixin background-clip($clip) {
  background-clip: $clip;
  -moz-background-clip: $clip;
  -webkit-background-clip: $clip;
}

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}
